<div ng-controller="LoginCtrl">
    <form class="form-horizontal">
        <legend>Login</legend>
        <div class="control-group">
            <label class="control-label" for="inputServer">Server</label>

            <div class="controls">
                <input type="text" id="inputServer" ng-model="login.host">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUser">User</label>

            <div class="controls">
                <input type="text" id="inputUser" ng-model="login.user">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>

            <div class="controls">
                <input type="password" id="inputPassword" ng-model="login.password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <!-- label class="checkbox">
                    <input type="checkbox"> Remember me
                </label -->
                <button class="btn" ng-click="login()">Sign in</button>
            </div>
        </div>
    </form>
    <div class="alert alert-error" ng-show="login.response.status == 'error'">{{login.response.payload.message}}</div>
    <div class="alert alert-error" ng-show="login.response.status == 'success'">Connected to cassandra . . .</div>
</div>